* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.client-info {
  font-size: 0.9rem;
}

#date-stamp {
  margin-left: 1rem;
  font-style: italic;
}
